<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
			http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

	<context:annotation-config />

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>WEB-INF/jdbc.properties</value>
			</list>
		</property>
	</bean>
	
	
	<!-- 数据源配置 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		
		<property name="removeAbandoned" value="true"/>    
        <property name="initialSize" value="10" />    
        <property name="maxIdle" value="10" />    
        <property name="minIdle" value="10" />    
        <property name="maxActive" value="30" />    
        <property name="maxWait" value="30000" />    
        <property name= "testWhileIdle" value="true" />    
        <property name= "testOnBorrow" value="false" />    
        <property name= "testOnReturn" value="false" />    
        <property name= "validationQuery" value="select 1" />    
        <property name= "timeBetweenEvictionRunsMillis" value="30000" />    
        <property name= "numTestsPerEvictionRun" value="30" />    
        <property name="minEvictableIdleTimeMillis" value="1800000" />    
	</bean>

	<bean id="dataSource2" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc2.driverClassName}" />
		<property name="url" value="${jdbc2.url}" />
		<property name="username" value="${jdbc2.username}" />
		<property name="password" value="${jdbc2.password}" />
		
		<property name="removeAbandoned" value="true"/>    
        <property name="initialSize" value="10" />    
        <property name="maxIdle" value="10" />    
        <property name="minIdle" value="10" />    
        <property name="maxActive" value="30" />    
        <property name="maxWait" value="30000" />    
        <property name= "testWhileIdle" value="true" />    
        <property name= "testOnBorrow" value="false" />    
        <property name= "testOnReturn" value="false" />    
        <property name= "validationQuery" value="select 1" />    
        <property name= "timeBetweenEvictionRunsMillis" value="30000" />    
        <property name= "numTestsPerEvictionRun" value="30" />    
        <property name="minEvictableIdleTimeMillis" value="1800000" />    
	</bean>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	
	<bean id="transactionManager2" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource2" />
	</bean>
	

	<!-- 事务控制的方法命名规则 -->
	<tx:advice id="txAdvise" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="roll*" propagation="REQUIRED" />
			<tx:method name="set*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="del*" propagation="REQUIRED" />
			<tx:method name="re*" propagation="REQUIRED" />
			<tx:method name="upd*" propagation="REQUIRED" />
			<tx:method name="commit*" propagation="REQUIRED" />
			<tx:method name="modify*" propagation="REQUIRED" />
			<tx:method name="deal*" propagation="REQUIRED" />
			<tx:method name="middle*" propagation="REQUIRED" />
			<tx:method name="begin*" propagation="REQUIRED" />
			
			<tx:method name="noTran*" read-only="true" propagation="NOT_SUPPORTED" />
			
			<tx:method name="*" read-only="true" />
			
			<!-- <tx:method name="getBillId" read-only="true" propagation="NOT_SUPPORTED" /> -->
		</tx:attributes>
	</tx:advice>
	
	
	<tx:advice id="txAdvise2" transaction-manager="transactionManager2">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="roll*" propagation="REQUIRED" />
			<tx:method name="set*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="del*" propagation="REQUIRED" />
			<tx:method name="re*" propagation="REQUIRED" />
			<tx:method name="upd*" propagation="REQUIRED" />
			<tx:method name="commit*" propagation="REQUIRED" />
			<tx:method name="modify*" propagation="REQUIRED" />
			<tx:method name="deal*" propagation="REQUIRED" />
			<tx:method name="middle*" propagation="REQUIRED" />
			<tx:method name="begin*" propagation="REQUIRED" />
			<tx:method name="synchro*" propagation="REQUIRED" />
			
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>
	
	
	<!-- 需要被事务托管的service -->
	<aop:config>
		<aop:pointcut expression="execution(* com.emi.*.service.*.*(..))" id="serviceTx1" />
		<aop:advisor advice-ref="txAdvise" pointcut-ref="serviceTx1" />
	</aop:config>  
	
	<aop:config>                              
		<aop:pointcut expression="execution(* com.emi.*.*.service.*.*(..))" id="serviceTx2" />
		<aop:advisor advice-ref="txAdvise" pointcut-ref="serviceTx2" />
	</aop:config>                

	<bean id="transactionTemplate" class="org.springframework.transaction.support.TransactionTemplate">
		<property name="transactionManager" ref="transactionManager" />
	</bean>
	
	<bean id="nativeJdbcExtractor" class="org.springframework.jdbc.support.nativejdbc.CommonsDbcpNativeJdbcExtractor" lazy-init="true" />

	<!-- Spring JDBC Template -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
		<property name="nativeJdbcExtractor" ref="nativeJdbcExtractor" />
	</bean>
	
	<bean id="jdbcTemplate2" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource2" />
		<property name="nativeJdbcExtractor" ref="nativeJdbcExtractor" />
	</bean>
	
	
	
	
	<!-- <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"> 
		<property name="dataSource" ref="dataSource" /> <property name="annotatedClasses"> 
		<list> <value>cn.com.emi.wms.login.bean.User</value> </list> </property> 
		<property name="hibernateProperties"> <props> <prop key="hibernate.dialect">${hibernate.dialect}</prop> 
		<prop key="hibernate.show_sql">${hibernate.hbm2ddl.showsql}</prop> <prop 
		key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop> </props> </property> 
		</bean> -->

	<!-- <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager"> 
		<property name="sessionFactory" ref="sessionFactory"></property> </bean> -->

	<!--定义注释驱动 -->
	 <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>

</beans>